body {
    font-family: 'Ubuntu', sans-serif;
}

main {
  position: relative;
  height: 600px;
}

.bg-img {
  position: absolute;
  z-index: 1;
}

.driving-img {
  width: 100%;
  height: 1000px;
}

.eligibilite-permis {
  position: absolute;
  top: 360px;
  width: 800px;
  height: 600px;
  z-index: 2;
  margin-left: 60px;
}

h1 {
  font-size: 3em;
}

label {
  color: #000;
  font-size: 1.2em;
  font-weight: bolder;
  margin-right: 15px;
}

#prenom {
  margin-right: 30px;
}

#age {
  font-family: 'Ubuntu', sans-serif;
}

button{
  background-color: #007B94;
  color: #FFF;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  padding: 20px;
  border: none;
  border-radius: 10px;
  margin-left: 30px;
}

button:hover {
  background-color: #007B94;
  opacity: 70%;
}
